*{
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    


}
/**************************************** box1 ************************************/
.nav-logo{
    background-image : url(amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size: cover;
    


}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
/*****************************************box 2 ******************************8*/

.location{
    padding: 4px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.add-first{
    margin-left: 14px;
    font-size: 12px;
    color: #CCCCCC;
}
.add-second{
    margin-left: 2px;
    font-size: 14px;
    font-weight: 700;
}
#hello{
    font-size: 12px;
}
#acc{
    font-size: 14px;
    font-weight: 700;
}
/************************************** box3 ****************************************/

.nav-search{
    display: flex;
    width: 685px; 
    height: 40px;
    justify-content: space-evenly;
    border-radius: 4px;
    border: 1.5px solid transparent; 
    outline: 1.5px solid transparent;


}
.lang-icon{
    width: 21.6px;
    height: 16.2px;
}
.lang-icon img{
    width: 100%;
    height: 100%;
}
.language{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: end;
}
.dig{
    width: 240px;
    height: 500px;
    background-color: whitesmoke;
    position: absolute;
    z-index: 10;
    border-radius: 4px;
    display: none;
}
.active{
    display: block;
}
#change{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 13px;
}
#change a{
    text-decoration: none;
    font-size: 12px;
    padding-left:1rem ;
    color: #007185;
}
#lang-ul li{
    font-size: 14px;
}
#hrf{
    margin-top: 20px;
}
#lang-ul li::marker{
    font-size: 35px;
}
#you{
 font-size: 14px;
 margin-top: 2rem;
 margin-left: 10px;
}
#us{
    font-size: 14px;
    margin-left: 10px;
}
#currency{
    font-size: 14px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-top: .5rem;
}
#currency a{
    text-decoration: none;
    color: rgb(21, 141, 189);
    padding-left: 1rem;
}
#us a{
    text-decoration: none;
    color:  rgb(21, 141, 189);
    padding-left: 3rem;
}
.dig p,ul{
    color: black;
}
.dig ul{
    list-style-type:circle;
}
.language p{
    font-size: 14px;
    font-weight: 700;
}



.cart-icon i {
    font-size: 30px;
  }
  .cart-icon{
      font-size: 14px;
      font-weight: 700;
      padding: 4px;
  }
  

.accounts-list{
    padding: 4px;
}
.account-container{
    position: relative;
}
.under-accounts{
    width: 470px;
    height: auto;
    background-color: white;
    position:absolute;
    z-index: 1;
    right: 3rem;
    top: 8.8%;
    padding: 20px;
    display: none;
}
.active-underacc{
    display: block;
}
.under-accounts-singin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: .5rem;
}
.under-accounts-singin p{
    color: #000;
    font-size: 12px;
}
.under-accounts-singin a {
    text-decoration: none;
    color: #007185;
}
#underaccbtn{
    padding: 5px 0;
    width: 200px;
    background-color: #FFCE52;
    border: 1px solid #febd68;
    border-radius: 5px;
    margin-bottom: .5rem;
}
.under-acc-list-container{
    display: flex;
    gap: 4rem;
    margin-top: 1rem;
   
}
.list-cont-two{
    border-left: 1px solid gray;
}
.list-cont-ul{
    list-style: none;
}
.list-cont-ul li{
    font-size: 13px;
    margin-top: .5rem;
    color: rgb(53, 50, 50);
}
.list-cont-ul li:hover{
    color: orange;
    text-decoration: underline;
}
.order{
    padding: 4px;
}
   .nav-search:focus-within{
   outline: 2px solid orange; 
   border:2px solid orange ;
  


}    
.search-icon{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
     font-size: 19px; 
    color: #373a3a;
    background-color:#febd68;

}
.search-icon i{
    width: 100%;
    display: flex;
    justify-content: center;
}
.searchbar{
    width: 100%;
    border: none;
    font-size: 1rem;
    
}
.searchoption{
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    height: 40px;
    width: 50px;
    background-color: #E6E6E6;
    text-align: center;
    
}
/************************************** under navbar************************/
.undernavbar{
    height: 39px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    

}

.slide-bar-container{
    
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    transform: translateX(-100%);
    display: flex;
}   
#side-bar-close{
    align-self: flex-start;
    background-color: transparent;
    font-size: 40px;
    color: white;
    border: none;
    margin: 15px;
    cursor: pointer;
} 
.side-bar-items{
    color: black;
    padding-left: 20px;
}
.side-bar-items-wrapper{
    height: 100%;
    overflow: auto;
}
.side-bar-items h3{
   margin-top: 1rem;
}
.side-bar-items p{
    margin-top: 1rem;
}

.active-sidebar{
    transform: translateX(0%);  
}
.slide-bar{
    width: 360px;
    height: 100%;
    background-color: white;
}
.side-bar-top{
    /* color: white; */
    display: flex;
    background-color: #131A22;
    height: 50px;
    align-items: center;
    
}
.menubar{
    height: 35px;
    width: 58px;
    padding: 0 9px 0 9px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menubar p {
    font-size: 14px;
    font-weight: 700;
}
.menubar i {
    font-size: 20px;
    padding-right: 5px;

}


.todays-deal a{
    color: white;
    text-decoration: none;
    padding: 8px;
    font-size: 14px;
    

}

/****************************************** herosection ***************************************/
.herosection{
    text-align: center;
    position: relative;
    overflow: hidden;
}
.hero-images img{
    height: 600px;
    width: 1343px;
}
.hero-images{

    transition: 1s;
}
.hero-images-container{
    display: flex;
}
.btn-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 40px;
}
.btn-container button{
    height: 200px;
    width: 50px;
    background-color: transparent;
    font-size: 50px;
    border: none;
}
.btn-container button:focus{
    
    border: 1px solid black;
}
/* ******************************   main    ************************************ */

#main{
    background-color: #e2e7e6;
}



/**************************//* imageselect /*****************************/
.image-select-container{
    position: relative;
    top: -300px;
    display: flex;
    justify-content: space-evenly;
     /* height: 100%;  */
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
} 
.space{
    position: relative;
    /* top: -60px; */
}

.image-nested1 p{
    font-size: 12px;
    padding-left: 20px;

}
.image-nested1 img{
   position: relative;
     width: 130px;
     height: 115px;
     left: 10px;
      object-fit:none;        
}
.image-nestedb{
    position: relative;
    left: 50px;
    width: 120px;
}
.image-nesteda{
    position: relative;
    width: 120px;
    left: 20px;
}
.image-nesteda img{
   position: relative;
     width: 120px;
     height: 115px;
      object-fit:none;       
}
.image-nested2 p{
    font-size: 12px;
    position: relative;
    left: 29px;
}
.image-nested2 img{
   position: relative;
     width: 120px;
     height: 115px;
     left: 30px; 
      object-fit:none;      
}
.image-nestedb img{
   position: relative;
     width: 120px;
     height: 115px;
      object-fit:none;  
     
}
.image-nested3 img{
    width: 249px;
    height: 300px;
    position: relative;
    left: 25px;
    object-fit: none;
}
.chappal img{
    object-fit: cover;
    width: 280px;
    height: 152px;
    position: relative;
    left: 10px;
    top: 38px;
    margin-bottom: 38px;
}
.chappal p{
    padding: 4px;
    background-color: #CC0C39;
    display: inline-block;
    color: white;
    font-size: 12px;
    border-radius: 2px;
}
.chappal span{
    font-size: 12px;
    color: #CC0C39;
    font-weight: bolder;
}
.chappal div{
    font-size: 13px;
}
#move{
    position: relative;
    left: 11px;
    top: 40px;
}
.image-nested4 img{
    width: 255px;
    height: 172px;
    object-fit: none;
    position: relative;
    left: 20px;
}
.image-nested4 p{
    position: relative;
    bottom: 8px;
    left: 19px;
}
.image-nested5 p{
    position: relative;
    bottom: 16px;
    left: 4px;
}
.image-nested5 img{
    width: 82px;
    height: 75px;
    object-fit: none;
    position: relative;
   left: -2px;
   
   top: -35px;
    
}
#move1{
    left: 5px;
}
#move2{
    left: -10px;
}
.imagenested5p{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}
 .image-nested5 img{
   position: relative;
   top: -14px;
} 


.image-nested-image{
    display: flex;
    
    width: 300px;
    height: 350px;
    flex-wrap: wrap;
    justify-content: center;
} 
.image-nested-imagea{
    display: flex;
    width: 300px;
    height: 350px;
    flex-wrap: wrap;
} 
.margin1{
    margin-left: 1.5rem;
}
.margin2{
    margin-left: 1.2rem;
}
.image-select{
    padding-top: 20px;
    background-color: white;
    width: 310px;
    margin-top: 10px;
    height: 400px;
    
}
.image-select h2{
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 21px;

}
#see-more{
    font-size: 13px;
    color: #007185;
    position:relative;
     left: 17px; 
    top: 9px;
} 
#see-more1{
    font-size: 13px;
    color: #007185;
    position:relative;
     left: 17px; 
    top: 15px;
} 
#see-more2{
    font-size: 13px;
    color: #007185;
    position:relative;
     left: 17px; 
    top: 2px;
} 
#see-more3{
        font-size: 13px;
        color: #007185;
        position:relative;
         left: 17px; 
        top: 35px;
    
}
#see-more4{
    font-size: 13px;
    color: #007185;
    position:relative;
     left: 17px; 
    top: 55px;

}

.under-whole-content-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

/*********************************** best seller in books ****************************/

.books-container{
    position: relative;
    top: -280px;
    background-color: white;
    
    height: 281.5px;
    /* left: 20px; */
    
}
.books-container h2{
    position: relative;
    top: 25px;
    left: 20px;
    font-size: 21px;
    
}

.books-heading{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 27.5px;
    overflow: auto;
    scroll-behavior: smooth;
}
.books img{
    position: relative;
    left: 11px;
    margin: 0 1rem;
}
.bbtncontainer{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    left: 0;
    top: 100px;
}
.bbtncontainer button{
  padding: 50px 30px; 
  z-index: 1;
  background-color: yellow;
  cursor: pointer;
  font-size: 40px;

}
/******************************** movies ***************************************/

.movies-container{
    position: relative;
    top: -260px;
    background-color: white;
    height: 281.5px;
    /* left: 20px; */
    
}
.movies-btn{
    padding: 40px 10px;
    background-color: transparent;
    z-index: 1;
}
.movies-pictures-container{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 27.5px;
    overflow: auto;
    scroll-behavior: smooth;
    
}
.crop   img{
    position: relative;
    width: 240px;
    top: 25px;
}
.movies-container h2{
    position: relative;
    top: 25px;
    left: 20px;
    font-size: 21px;
}
.movies-pictures img{
    position: relative;
    
}
.movies-pictures{

    position: relative;
    
}
.movies-pictures img {
    margin: 0 1rem;
}
/*************************** games *************************/

.games-container{
    position: relative;
    top: -240px;
    background-color: white;
    height: 281.5px;
    /* left: 20px; */
}
.games-container  h2{
    position: relative;
    top: 25px;
    left: 20px;
    font-size: 21px;
}
.games-pictures-container{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 27.5px;
    overflow: auto;
    scroll-behavior: smooth;

}
.games-pictures img{
    margin: 0 1rem;
}
/* *********************************    new******************** */

.nextdiv-container{
    display: flex;
    justify-content:center;
    position: relative;
    max-width: 1300px;
    top: 80px;
    gap: .8rem;
    flex-wrap: wrap;
   
}
.nextdiv{
    background-color: white;
    width: 320px;
    height: 420px;
    position: relative;
    top: -300px;
    left: 20px;
}
.nextdiv h2{
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 21px;
}
.nextdiv1{
    position: relative;
    top: 30px;
}
.nextdiv-image img{
    height: 200px;
    width: 250px;
    position: relative;
    left: 20px;
    top:38px ;
    object-fit: cover;
}
.nextdiv-image1 img{
    position:relative ;
    top: 35px;
    width: 290px;
    height: 303px;
    object-fit: none;
    left: 20px;
}
/****************************baby   gifts*****************************/

.baby-gifts-container{
    background-color: white;
    position: relative;
    max-width: 1280px;
    bottom: 200px;
    height: 285px;
    /* left: 19px; */
}
.baby-gifts-image img{
    margin:0 1rem;
}
.baby-gifts-container h2{
    font-size: 21px;
    position: relative;
    left: 20px;
    top: 24px;
}
.baby-gifts-container a{
    position: relative;
    left: 250px;
    top: 5px;
    text-decoration: none;
    font-size: 14px;
    color: #007185;
}
.baby-gifts{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 13px;
    right: 7px;
    overflow: auto;
    scroll-behavior: smooth;
}
/*********************************deals ***************************/



.deals-cotainer{
    background-color: white;
    height: 366px;
    width: 1280px;
    position: relative;
    bottom: 180px;
    overflow: auto;
   
}
.deals-cotainer a{
    text-decoration: none;
    font-size: 14px;
    position: relative;
    left: 30px;
    top: 23px;
    color:#007185;
}
.deals-cotainer h2{
    position: relative;
    left: 20px;
    top: 23px;
    font-size: 21px;
}
.deals-nested{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 40px;
    
}

.deals-image p{
    padding: 4px;
    background-color: #CC0C39;
    color: white;
    font-size: 12px;
    border-radius: 2px;
}
.deals-image span{
    font-size: 12px;
    font-weight: bolder;
}
.deals-image div{
    font-size: 13px;
}
.under-picture{
    position: relative;
    top: 15px;
}
#id{
    margin-top: 7px;
    margin-bottom: 5px;
}
#first{
    background-color: #CC0C39;
    padding: 4px 6px;
    border-radius: 2px;
    color: white;
    
}
#sec{
   color: #CC0C39;
   font-weight: 700; 
}
#third{
    font-size: 11px;
    font-weight: lighter;   
}
#fourth{
    font-size: 19px; 
    font-weight: lighter;  
}
#fifth{
    font-size: 12px; 
    color: #565959; 
    font-weight: lighter; 
}
#sixth{
    font-size: 13px;   
    font-weight: lighter;
}
/*********************************** new1******************** */

.nextdiv-container1{
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    position: relative;
    top: 140px;
    left: -22px;
}

/*********************************** book1*********************************** */

.books-container1{
    position: relative;
    bottom: 140px;
    background-color: white;
    max-width: 1280px;
    height: 281.5px;
    overflow: auto;
}

/********************************popular****************************/

.popular-container{
    position: relative;
    bottom: 120px;
    background-color: white;
    max-width: 1280px;
    height: 281.5px;
    /* left: 19px; */
    overflow: auto;
}
/* *********************************sign********************* */

.sign-up{
    height: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(199, 194, 194);
}

.title{
    font-size: 13px;
}
.signin{
    
    background-color: #FFCE52;
    width: 230px;
    height: 28px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    line-height: 28px;
    border: 1px solid rgb(255, 137, 3);
}
.signin a{
    color: #0f1111;
    text-decoration: none;
}
.fotter{
  font-size: 11px;  
}
.fotter a{
    text-decoration: none;
    color: #007185;
}
.signin button{
    font-size: 50px;
}
/* *****************************footer************************* */


.totop{
    height: 50px;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.totop a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.middle{
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    height: 430px;
}
.middle ul{
    margin-top: 50px;
}
.middle a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}
.middle p{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 14px;
}
.div{
    height: 72px;
    background-color:#222f3d ;
    border-top: 1px solid #3a4553;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
#English{
    display: flex;
    border: 1px solid #CCCCCC;
    height: 33px;
    width: 116.95px;
    justify-content: center;
    line-height: 2.5;
    justify-content: space-around;
    font-size: 13px;
    color: #CCCCCC;
    border-radius: 3px;
}
#Dollar{
    display: flex;
    border: 1px solid #CCCCCC;
    height: 33px;
    width: 150.59px;
    align-items: center;
    font-size: 13px;
    color: #CCCCCC;
    border-radius: 3px;
}
#Us{
    display: flex;
    border: 1px solid #CCCCCC;
    height: 33px;
    width: 141.38px;
    line-height: 2.5;
    font-size: 13px;
    color: #CCCCCC;
    border-radius: 3px;
}
.english-container{
    display: flex;
    width: 427.23px;
    justify-content: space-between;
}
#up{
    filter: invert(32%) sepia(91%) saturate(19%) hue-rotate(341deg) brightness(96%) contrast(89%);
}
#down{
    filter: invert(32%) sepia(91%) saturate(19%) hue-rotate(341deg) brightness(96%) contrast(89%);
    position: relative;left: -8px; ;top: 5px;
}
/* ***************************bottom*********************** */
.bottom{
    background-color: #131A22;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
.table-container{
    /* margin-left: 26px;
    margin-right: 26px; */
}
#table-data{
    padding-left: 9px;
    padding-right: 9px;
    width: 116px;
}
#table-data a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
#table-data span{
    color: #999999;
}
#space-maker{
    width: 10px;
    height: 80.953;
    padding-left: 5px;
    padding-right: 5px;
}
#row-space{
    height: 10px;

}
#row-a{
   display: flex;
   /* justify-content: center; */
}
#row-b{
    display: flex;
    /* justify-content: center; */
 }
 #row-c{
    display: flex;
    /* justify-content: center; */
 }
 #row-d{
    display: flex;
    /* justify-content: center; */
 }
.table-body{
    display: flex;
    flex-direction: column;
}
.bttm{
    height: 77px;
    background-color: #131A22;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.bttm a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
    align-self: self-start;

}
.bttm span{
    color: white;
    font-size: 12px;
    display: block;
}
