@media(max-width:2560px){
    .hero-images img{
        height: 600px;
        width: 1440px;
    }
    /*********************************** best seller in books ****************************/
    
    .books-container{
        margin: 0 auto;
        max-width: 1280px;
        height: 281.5px;
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .books-heading{
        padding: 0 10px;
    }
    .bbtncontainer{
        position: absolute;
        width: 98%;
        display: flex;
        justify-content: space-between;
        left: 20px;
        right: 0;
        top: 100px;
    }
    .bbtncontainer button{
      padding: 20px 10px; 
      z-index: 1;
      background-color: white;
      cursor: pointer;
      font-size: 20px;
    
    }
    /******************************** movies ***************************************/
    
    .movies-container{
        padding-right: 20px;
        padding-left: 20px;
        max-width: 1280px;
        margin: 0 auto;   
    }
    .movies-pictures-container{
        padding-left: 20px;   
    }
    /*************************** games *************************/
    
    .games-container{
        max-width: 1280px;
        padding-right: 20px;
        padding-left: 20px;
    }
    /* *********************************    new******************** */
    
    .nextdiv-container{
        display: flex;
        justify-content:center;
        position: relative;
        left: -20px;
        max-width: 1350px; 
    }
    .nextdiv-image1 img{
        width: 250px;
        height: 280px;
    }
    /****************************baby   gifts*****************************/
    
    .baby-gifts-container{
        max-width: 1280px;
        padding-left: 20px;
        padding-right: 20px;
    }
    /*********************************deals ***************************/
    
    
    
    .deals-cotainer{
        height: 366px;
        width: 1320px;
    }

    #id{
        margin-top: 7px;
        margin-bottom: 5px;
    }
    /*********************************** new1******************** */
    
    .nextdiv-container1{
        max-width: 1320px;
    }
    
    /*********************************** book1*********************************** */
    
    .books-container1{
        max-width: 1280px;
         padding-left: 20px;
        padding-right: 20px; 
    }
    
    /********************************popular****************************/
    
    .popular-container{
        padding-right: 20px;
        padding-left: 20px;
    }
    
}

@media(max-width:1600px){
    .hero-images img{
        height: 600px;
        width: 1600px;
    }
    #hero-cont{
        display: flex;
    }
    #spacetaker{
        display: none;
    }
    #spacetakera{
       display:none;
    }
    .herosection{
        text-align: center;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        min-width: 100%;
    }  
}
@media(max-width:1440px){
    #hero-cont{
        display: flex;
    }
    #spacetaker{
        display: none;
    }
    #spacetakera{
       display:none;
    }
    .herosection{
        text-align: center;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        min-width: 100%;
    }    
    .under-accounts{
        top: 6.5%;
    }
    .image-select{
        padding-top: 20px;
        background-color: white;
        width: 318px;
        margin-top: 10px;
        height: 400px;
    }

/*********************************** best seller in books ****************************/

.books-container{
    margin: 0 auto;
    max-width: 95%;
    height: 281.5px;
    padding-right: 20px;
    padding-left: 20px;
}
.bbtncontainer{
    position: absolute;
    width: 98%;
    display: flex;
    justify-content: space-between;
    left: 20px;
    right: 0;
    top: 100px;
}
.bbtncontainer button{
  padding: 20px 10px; 
  z-index: 1;
  background-color: white;
  cursor: pointer;
  font-size: 20px;

}
/******************************** movies ***************************************/

.movies-container{
    padding-right: 20px;
    padding-left: 20px;
    max-width: 95%;
    margin: 0 auto;
}
/*************************** games *************************/

.games-container{
    max-width: 95%;
    padding-right: 20px;
    padding-left: 20px;
}
/* *********************************    new******************** */

.nextdiv-container{
    left: -20px;
    max-width: 1370px; 
}
.nextdiv{
    width: 25%;
}
.nextdiv-image img{
    height: 230px;
}
.nextdiv-image1 img{
    width: 250px;
    height: 280px;
}
/****************************baby   gifts*****************************/

.baby-gifts-container{
    max-width: 95%;
    padding-left: 20px;
    padding-right: 20px;
}
/*********************************deals ***************************/



.deals-cotainer{
    height: 366px;
    width: 102%;
}  
/*********************************** new1******************** */



/*********************************** book1*********************************** */

.books-container1{
    max-width: 95%;
     padding-left: 20px;
    padding-right: 20px; 
}

/********************************popular****************************/

.popular-container{
    max-width: 95%;
    padding-right: 20px;
    padding-left: 20px;
}
/* *********************************sign********************* */

/* *****************************footer************************* */

/* ***************************bottom*********************** */


}
@media(max-width:1400px){
    /************** imageselect ***********/
    /* .image-nesteda img{
        width: 110px;
    }
    .image-nestedb img{
        width: 110px;
    }
    .image-nested3 img{
        width: 239px;
        left: 10px;
        object-fit: cover;
    }
    .image-nested4 img{
        width: 245px;
        left: 10px;
    }
    .image-nested5 img{

    }
    .chappal img{

    } */
    #spacetaker{
        height: 604px;
        width: 0;
        background-color: #e2e7e6;
    }
    #spacetakera{
        height: 604px;
        width: 0;
        background-color: #e2e7e6;
    }
    .herosection{
        text-align: center;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        min-width: 100%;
        max-width: 1440px;
    }
    .under-accounts{
        top: 6.5%;
    }
    /* .image-select{
        padding-top: 20px;
        background-color: white;
        width: 318px;
        margin-top: 10px;
        height: 400px;
    } */

/*********************************** best seller in books ****************************/

/******************************** movies ***************************************/

/*************************** games *************************/

/* *********************************    new******************** */

.nextdiv-container{
    left: -20px;
    /* max-width: 1370px;  */
}
/* .nextdiv{
    width: 320px;
} */
.nextdiv-image img{
    height: 230px;
}
.nextdiv-image1 img{
    width: 250px;
    height: 280px;
}
/****************************baby   gifts*****************************/

/*********************************deals ***************************/



.nextdiv-container1{
    max-width: 1370px;
}

}
@media(max-width:1360px){
    .image-select-container{
        grid-template-columns: 320px 320px 320px 320px;
        grid-template-rows: 400px 400px;
        row-gap: 2.5rem;
        margin-bottom: 3rem;
    } 
    #spacetaker{
        height: 604px;
        width: 0;
        background-color: #e2e7e6;
    }
    #spacetakera{
        height: 604px;
        width: 0;
        background-color: #e2e7e6;
    }
    .under-accounts{
        top: 6.5%;
        z-index: 1;
    }
    .image-select{
        padding-top: 20px;
        background-color: white;
        width: 300px;
        margin-top: 10px;
        height: 400px;
    } 
    /* .image-nested2 img{
          width: 120px;
          height: 115px;      
     } */

    
    .nextdiv-container{
        /* max-width: 1300px;    */
    }

    .nextdiv-image img{
        height: 230px;
        width: 250px;
    }
    /* .nextdiv{
        width: 300px;
    } */
    .nextdiv-image1 img{
        width: 250px;
        height: 280px;
    }
     .nextdiv-container1{
        display: flex;
        max-width: 1280px;
        justify-content: space-evenly;
        position: relative;
        top: 140px;
        left: -22px;
        gap: .9rem;
        flex-wrap: wrap;
    }
    
}
@media(max-width:1280px){
     /************** imageselect ***********/
     .image-select-container{
        grid-template-columns: 305px 305px 305px 305px;
        grid-template-rows: 400px 400px;
    } 
     .image-nesteda{
        width: 100px;
     }
     .image-nestedb{
        width: 101px;
     }
     .image-nesteda img{
        width: 120px;
        right: 10px;
        object-fit: contain;
    }
    .image-nestedb img{
        width: 120px;
        object-fit: contain;
    }
    .image-nested3 img{
        width: 210px;
        left: 35px;
        object-fit: cover;
    }
    .image-nested4 img{
        width: 235px;
        left: 10px;
    }
    .image-nested5 img{

    }
    .chappal img{

    }
    .image-select{
        padding-top: 20px;
        background-color: white;
        width: 290px;
        margin-top: 10px;
        margin-left:.7rem ;
        height: 400px;
    }
    .hero-images img{
        height: 600px;
        width: 1440px;
    }
  
    .image-nested-image{
        display: flex;
        width: 300px;
        height: 370px;
        justify-content: flex-start;
    }
    .nextdiv-container{
        left: -20px;
        /* max-width: 1300px; */
        gap: 2rem;
    }
    .nextdiv-image img{
        height: 200px;
        width: 250px;
        left: 0;
    }
    .nextdiv{
        width: 22%;
        height: 370px;
    }
    .nextdiv-image1 img{
        width: 300px;
        left: 0;
        height: 270px;
    }
    .nextdiv-container1{
        max-width: 1280px;
        flex-wrap: wrap;
    }
    .image-nested1 img {
        width:110px ;
        height: 110px;
    }
    .image-nested2 img {
        width:110px ;
        height: 110px;
    }
    #outdoor{
        position: relative;
        left: 15px;
    }
}
@media(max-width:1230px){
    #image-select-four{
        display:none;
    }
    #image-select-five{
        display:none;
    }
    #image-select-six{
        display: none;
    }
    .image-select-container{
        grid-template-columns: 350px 350px 350px ;
        grid-template-rows: 400px 400px;
        gap: 2rem;
        row-gap: 3rem;
    } 
    .image-select{
        width: 350px;
    }
    .nextdiv{
        width: 350px;
    }
    .nextdiv-image img{
        height: 200px;
        width: 300px;
        left: 20px;
    }
    .image-nesteda{
        width: 120px;
     }
     .image-nestedb{
        width: 121px;
     }
     .image-nesteda img{
        width: 120px;
        right: 10px;
        object-fit: cover;
    }
    .image-nestedb img{
        width: 120px;
        object-fit: cover;
    }
    .image-nested3 img{
        width: 290px;
        object-fit: cover;
    }
    .image-nested4 img{
        width: 235px;
        left: 10px;
    }
}
@media(max-width:1180px){
    .image-select-container{
        grid-template-columns: 340px 340px 340px ;
        grid-template-rows: 400px 400px;
        gap: 2rem;
        row-gap: 3rem;
    }
    #newdiv{
        grid-template-columns: 340px 340px 340px ;
        grid-template-rows: 400px 400px;
        gap: 2rem;
        row-gap: 3rem;
    }
    .image-nesteda{
        width: 100px;
     }
     .image-nestedb{
        width: 101px;
     }
     .image-nesteda img{
        width: 110px;
    }
    .image-nestedb img{
        width: 110px;
    }
    .image-nested3 img{
        width: 250px;
        object-fit: cover;
        left: 0;
    }
    .image-nested4 img{
        width: 235px;
        left: 10px;
    }
    .image-nested5 img{

    }
    .chappal img{

    }
    .image-select{
        width: 330px;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .nextdivone{
        width: 330px;
    }
    .hero-images img{
        height: 600px;
        width: 1440px;
    }
    .image-nested-image{
        width: 250px;
        height: 350px;
        justify-content: flex-start;
    } 
    
    /*********************************** best seller in books ****************************/
    
    /******************************** movies ***************************************/
    
    /*************************** games *************************/
    
    /* *********************************    new******************** */
    
    .nextdiv-container{
        display: flex;
        justify-content:center;
        position: relative;
        left: -20px;
        /* max-width: 1300px; */
        top: 80px;
        gap: .8rem;
       
    }
    /* .nextdiv{
        width: 250px;
        height: 380px;
    } */
    .nextdiv-image1 img{
        width: 210px;
        height: 270px;
        left: 60px;
    }
    .image-nested1 img {
        width:105px ;
        height: 105px;
    }
    .image-nested2 img {
        width:105px ;
        height: 105px;
    }
    #outdoor{
        position: relative;
        left: 12px;
    }
    /****************************baby   gifts*****************************/
   
    /*********************************deals ***************************/
    .deals-image img{
        width: 160px;
        height: 190px;
    }
    #first{
        padding: 3px 5px;
    }
    #fourth{
        font-size: 17px;
    }
    #sixth{
        font-size: 12px;
    }
    /*********************************** new1******************** */
    
    .nextdiv-container1{
        display: flex;
        max-width: 1280px;
        justify-content: space-evenly;
        position: relative;
        top: 140px;
        left: -22px;
        flex-wrap: wrap;
    }
    /*********************************** book1*********************************** */
    
    
    /********************************popular****************************/
    
    .popular-container{
        position: relative;
        bottom: 120px;
        background-color: white;
        padding-right: 20px;
        height: 281.5px;
        /* left: 19px; */
        overflow: auto;
    }
}
@media(max-width:1100px){
    .image-select-container{
        grid-template-columns: repeat(3,320px) ;
        grid-template-rows: repeat(2,400px);
        gap: 1rem;
        row-gap: 3rem;
    }
    #newdiv{
        grid-template-columns: repeat(3,320px) ;
        grid-template-rows: repeat(2,400px);
        gap: 1rem;
        row-gap: 3rem;
    }
    .nextdiv{
        width: 300px;
    }
    .nextdiv-image img{
        width: 270px;
    }
    .image-nesteda{
        width: 100px;
     }
     .image-nestedb{
        width: 101px;
     }
     .image-nesteda img{
        width: 110px;
    }
    .image-nestedb img{
        width: 110px;
    }
    .image-nested3 img{
        width: 250px;
        object-fit: cover;
        left: 0;
    }
    .image-nested4 img{
        width: 235px;
        left: 10px;
    }
    .image-nested5 img{

    }
    .chappal img{
        width: 250px;
        object-fit: contain;
    }
    .image-select{
        width: 310px;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .nextdivone{
        width: 310px;
    }
}
@media(max-width:1060px){
    .margin1{
        margin: 0;
    }
    .margin2{
        margin: 0;
    }
    
    
    .nextdiv-container{
        display: flex;
        justify-content:center;
        position: relative;
        left: -20px;
        /* max-width: 1300px; */
        top: 80px;
        gap: .8rem;
       
    }
    .nextdiv h2{
        position: relative;
        top: 20px;
        left: 20px;
        font-size: 18px;
    }
    .nextdiv1{
        position: relative;
        top: 30px;
    }
    .nextdiv-image1 img{
        position:relative ;
        top: 35px;
        width: 200px;
        height: 250px;
        object-fit: none;
        left: 20px;
    }
    .image-nested1 img {
        width:101px ;
        height: 101px;
    }
    .image-nested2 img {
        width:101px ;
        height: 101px;
    }
    #outdoor{
        position: relative;
        left: 1px;
    }
    #wall{
        position: relative;
        left: 19px;
    }
    .deals-image img{
        width: 150px;
        height: 180px;
    }
    #first{
        padding: 3px 5px;
        font-size: 11px;
    }
    #sec{
        font-size:11px
    }
    #fourth{
        font-size: 15px;
    }
    #fifth{
        font-size:11px
    }
    #sixth{
        font-size: 11px;
    }
   
    /*********************************** new1******************** */
    
    .nextdiv-container1{
        display: flex;
        max-width: 1280px;
        justify-content: space-evenly;
        position: relative;
        top: 140px;
        left: -22px;
        flex-wrap: wrap;
    }
    /*********************************** book1*********************************** */
    
    
    /********************************popular****************************/
    
    .popular-container{
        position: relative;
        bottom: 120px;
        background-color: white;
        padding-right: 20px;
        height: 281.5px;
        /* left: 19px; */
        overflow: auto;
    }  
    #table-data{
        padding-left: 9px;
        padding-right: 9px;
        width: 100px;
    }
}


@media(max-width:1024px){
    .image-select-container{
        grid-template-columns: repeat(2,450px) ;
        grid-template-rows: repeat(3,400px);
        gap: 1rem;
        row-gap: 3rem;
    }
    #newdiv{
        grid-template-columns: repeat(2,450px) ;
        grid-template-rows: repeat(3,400px);
        gap: 1rem;
        row-gap: 3rem;
    }
    .nextdivone{
        display: none;
    }
    .image-nesteda{
        width: 140px;
     }
     .image-nestedb{
        width: 141px;
     }
     .image-nesteda img{
        width: 130px;
    }
    .image-nestedb img{
        width: 130px;
    }
    .image-nested3 img{
        width: 350px;
        object-fit: cover;
        left: -50px;
    }
    .image-nested4 img{
        width: 430px;
        left: 10px;
    }
    .image-nested4{
        position: relative;
        left: -110px;
    }
    .imagenested5p{
        position: relative;
        left: -110px;
    }
    .image-nested5{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .image-nested5 img{
        width: 150px;
    }
    .chappal img{
        width: 300px;
        left: -30px;
        object-fit: cover;
    }
    .image-select{
        width: 99%;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .under-accounts{
        top: 7.8%;
    }
    .hero-images img{
        height: 600px;
        width: 1440px;
    }
    
    
    .image-nested-image{
        display: flex;
        width: 230px;
        height: 350px;
        justify-content: flex-start;
    } 
    
    /*********************************** best seller in books ****************************/
    
    .bbtncontainer button{
      padding: 20px 10px; 
      z-index: 1;
      background-color: white;
      cursor: pointer;
      font-size: 20px;
    
    }
    .nextdiv-container{
        left: -20px;
        /* max-width: 1300px;  */
    }
    /* .nextdiv{
        width: 217px;
        height: 400px;
    } */
    .nextdiv-image1 img{
        width: 190px;
        height: 250px;
    }
    .image-nested1 img {
        width:90px ;
        height: 90px;
    }
    .image-nested2 img {
        width:90px ;
        height: 90px;
    }
    #outdoor{
        position: relative;
        left: 1px;
    }
    #wall{
        position: relative;
        left: 19px;
    }
    .deals-cotainer h2{
        font-size: 20px;
    }
    
    .deals-image img{
        width: 150px;
        height: 180px;
    }
    #first{
        padding: 3px 5px;
        font-size: 10px;
    }
    #sec{
        font-size:10px
    }
    #fourth{
        font-size: 14px;
    }
    #fifth{
        font-size:10px
    }
    #sixth{
        font-size: 11px;
    }
    /*********************************** new1******************** */
    
    .nextdiv-container1{
        display: flex;
        max-width: 1280px;
        justify-content: space-evenly;
        position: relative;
        top: 140px;
        left: -22px;
        flex-wrap: wrap;
    }
    
    /*********************************** book1*********************************** */
    
    
    /********************************popular****************************/
    
    #table-data{
        width: 75px;
    }
}
@media(max-width:900px){
    .image-select-container{
        grid-template-columns: repeat(2,350px) ;
        grid-template-rows: repeat(3,400px);
        gap: 1rem;
        row-gap: 3rem;
    }
    #newdiv{
        grid-template-columns: repeat(2,350px) ;
        grid-template-rows: repeat(3,400px);
        gap: 1rem;
        row-gap: 3rem; 
    }
    .image-nesteda{
        width: 100px;
     }
     .image-nestedb{
        width: 101px;
     }
     .image-nesteda img{
        width: 110px;
    }
    .image-nestedb img{
        width: 110px;
    }
    .image-nested3 img{
        width: 250px;
        object-fit: cover;
        left: 0;
    }
    .image-nested4 img{
        width: 235px;
        left: 0px;
    }
    .image-nested5 img{
        width: 100px;
        left: 0;
        top: 0;
    }
    #move2{
        left: 0;
    }
    .imagenested5p{
        position: relative;
        left: -40px;
    }
    .image-nested4{
        position: relative;
        left: 0;
    }
    .chappal img{
        width: 250px;
        object-fit: contain;
    }
    .deals-image img{
        width: 130px;
        height: 150px;
    }
    #first{
        padding: 3px 5px;
        font-size: 9px;
    }
    #sec{
        font-size:10px
    }
    #fourth{
        font-size: 12px;
    }
    #fifth{
        font-size:9px
    }
    #sixth{
        font-size: 9px;
    }
}
@media(max-width:950px){
    .nextdiv{
        width: 270px;
    }
    .nextdiv-image img{
        width: 230px;
    }
}
@media(max-width:850px){
    .nextdiv{
        width: 240px;
    }
    .nextdiv-image img{
        width: 200px;
    }
}
@media(max-width:768px){   
    .image-select-container{
        grid-template-columns: repeat(2,300px) ;
        grid-template-rows: repeat(3,400px);
        gap: 1rem;
        row-gap: 3rem;
    }
    #newdiv{
        grid-template-columns: repeat(2,300px) ;
        grid-template-rows: repeat(3,400px);
        gap: 1rem;
        row-gap: 3rem;
    }
    .nextdiv{
        width: 200px;
    }
    .nextdiv-image img{
        width: 170px;
    }
    .nextdiv-image1 img{
        width: 170px;
        object-fit: cover;
    }
    #first{
        padding: 2px 4px;
        font-size: 9px;
    }
    #sec{
        font-size:9px
    }
    #fourth{
        font-size: 12px;
    }
    #fifth{
        font-size:8px
    }
    #sixth{
        font-size: 9px;
    } 
    #row-a{
        max-width: 770px;
        margin-bottom: 2rem;
        flex-wrap: wrap;
      }
      #row-b{
        max-width: 770px;
        margin-bottom: 2rem;
        flex-wrap: wrap;
      }
      #row-c{
        max-width: 770px;
        margin-bottom: 2rem;
        flex-wrap: wrap;
      }
      #row-d{
        max-width: 770px;
        margin-bottom: 2rem;
        flex-wrap: wrap;
      }
      .middle{
         flex-wrap: wrap;
      }
      .div{
         flex-wrap: wrap;
         padding: 1rem;
      }
      .english-container{
         flex-wrap:wrap;
      }
}
@media(max-width:650px){
    .image-select-container{
        grid-template-columns: repeat(2,250px) ;
        grid-template-rows: repeat(3,400px);
        gap: 1rem;
        row-gap: 0rem;
    }
    #newdiv{
        grid-template-columns: repeat(2,250px) ;
        grid-template-rows: repeat(3,400px);
        gap: 1rem;
        row-gap: 0rem;
    }
    .nextdiv-container{
        display:grid;
        grid-template-columns: repeat(2,250px) ;
        grid-template-rows: repeat(2,400px);
        column-gap: 2rem;
    }
    #image-select-six{
        display: block;
    }
    .image-select-container{
        margin: 0;
    }
    .nextdiv{
        width: 250px;
    }
    .nextdiv-image img{
        width: 200px;
    }
    .nextdiv-image1 img{
        width: 200px;
        object-fit: cover;
        height: 230px;
    }
    .nextdiv h2 {
        left: 5px;
        font-size: 16px;
    }
    .image-nested-image1{
        width: 180px;
        display:grid;
        grid-template-columns: repeat(2,100px);
    }
    .image-select{
        overflow: hidden;
    }
    .image-nesteda{
        left: 50px;
    }
    .image-nestedb{
        left: 70px;
    }
    .image-nesteda img{
        object-fit: contain;
        left: -18px;
        height: 90px;
    }
    .image-nestedb img{
        object-fit: contain;
        left: -25px;
        height: 90px;
    }
    .imagea img{
        width: 70px;
        left: 10px;
    }
    .imageb img{
        width: 70px;
        left: -5px;
    }
    .image-nested4{
        left: 38px;
    }
    .image-nested4 img{
        width: 150px;
    }
    .imagenested5p{
        left: 25px;
        justify-content:unset;
        gap: 8px;
    }
    .image-nested5 p{
        bottom: 0;
        left: 0;
    }
    .image-nested5 img{
        width: 50px;
        height: 60px;
        object-fit: cover;
    }
    .image-nested3 img{
        width: 190px;
        height: 250px;
        left: 25px;
    }
    .image-select{
        height: 350px;
    }
    .books-container{
        width: 89%;
    }
    .games-container{
        width: 89%;
    }
    .books-container1{
        width: 89%;
    }
    .movies-container{
        width: 89%;
    }
    .baby-gifts-container{
        width: 89%;
    }
    .popular-container{
        width: 89%;
    }
    
}





@media(max-width:570px){    
    .image-select-container{
        grid-template-columns: repeat(2,230px) ;
        grid-template-rows: repeat(3,400px);
        gap: 1rem;
        row-gap: 0rem;
    }
    #newdiv{
        grid-template-columns: repeat(2,230px) ;
        grid-template-rows: repeat(3,400px);
        gap: 1rem;
        row-gap: 0rem;
    }
    .nextdiv-container{
        display:grid;
        grid-template-columns: repeat(2,230px) ;
        grid-template-rows: repeat(2,400px);
        column-gap: 2rem;
    }
    .nextdiv{
        width: 230px;
    }
    .nextdiv-image img{
        width: 190px;
    }
    .nextdiv-image1 img{
        width: 200px;
        object-fit: cover;
        height: 230px;
    }
    .nextdiv h2 {
        left: 5px;
        font-size: 16px;
    }
    .image-select{
        overflow: hidden;
    }
    .image-nesteda img{
        object-fit: contain;
    }
    .image-nestedb img{
        object-fit: contain;
    }
    .image-nested3 img{
        width: 220px;
    }
}

@media(max-width:500px){    
    .image-select-container{
        grid-template-columns: repeat(2,200px) ;
        grid-template-rows: repeat(3,400px);
        gap: 1rem;
        row-gap: 0rem;
    }
    #newdiv{
        grid-template-columns: repeat(2,200px) ;
        grid-template-rows: repeat(3,400px);
        gap: 1rem;
        row-gap: 0rem;

    }
    .nextdiv-container{
        display:grid;
        grid-template-columns: repeat(2,200px) ;
        grid-template-rows: repeat(2,400px);
        column-gap: 2rem;
    }
    .nextdiv{
        width: 200px;
        overflow: hidden;
    }
    .nextdiv-image img{
        width: 170px;
    }
    .nextdiv-image1 img{
        width: 170px;
        object-fit: cover;
        height: 230px;
    }
    .image-nested2 img{
        object-fit: contain;
        left: -10px;
        width: 110px;
    }
    .image-nested1 img{
        object-fit: contain;
        width: 110px;
        left: -10px;
    }
    .image-select{
        overflow: hidden;
    }
    .image-nesteda img{
        object-fit: contain;
    }
    .image-nestedb img{
        object-fit: contain;
    }
    .image-nested3 img{
        width: 200px;
    }
}
@media(max-width:440px){    
    .image-select-container{
        grid-template-columns: repeat(2,180px) ;
        grid-template-rows: repeat(3,400px);
        gap: 1rem;
        row-gap: 0rem;
    }
    #newdiv{
        grid-template-columns: repeat(2,180px) ;
        gap: 1rem;
        row-gap: 0rem;

    }
    .nextdiv-container{
        display:grid;
        grid-template-columns: repeat(2,180px) ;
        grid-template-rows: repeat(2,400px);
        column-gap: 2rem;
    }
    .nextdiv{
        width: 180px;
    }
    .nextdiv-image img{
        width: 150px;
    }
    .nextdiv-image1 img{
        width: 150px;
        object-fit: cover;
        height: 230px;
    }
    
    .image-select{
        overflow: hidden;
    }
    .image-nesteda{
        left: 70px;
    }
    .image-nestedb{
        left: 70px;
    }
    .image-nesteda img{
        object-fit: contain;
        left: -18px;
        height: 60px;
    }
    .image-nestedb img{
        object-fit: contain;
        left: -25px;
        height: 60px;
    }
    .imagea img{
        width: 70px;
        left: 10px;
    }
    .imageb img{
        width: 70px;
        left: -5px;
    }
    .image-nested4{
        left: 38px;
    }
    .image-nested4 img{
        width: 150px;
    }
    .imagenested5p{
        left: 25px;
        justify-content:unset;
        gap: 8px;
    }
    .image-nested5 p{
        bottom: 0;
        left: 0;
    }
    .image-nested5 img{
        width: 50px;
        height: 60px;
        object-fit: cover;
    }
    .image-nested3 img{
        width: 150px;
        height: 250px;
        left: 35px;
    }
    .image-select{
        height: 350px;
    }
}

@media(max-width:400px){    
    .image-select-container{
        grid-template-columns: repeat(2,150px) ;
        grid-template-rows: repeat(3,400px);
        gap: 1rem;
        row-gap: 0rem;
    }
    #newdiv{
        grid-template-columns: repeat(2,150px) ;
        gap: 1rem;
        row-gap: 0rem;

    }
    .nextdiv-container{
        display:grid;
        grid-template-columns: repeat(2,150px) ;
        grid-template-rows: repeat(2,400px);
        gap: 0;
        column-gap: 1.5rem;
    }
    .nextdiv{
        width: 150px;
        height: 350px;
    }
    .image-nested2 img{
        object-fit: contain;
        left: -5px;
        width: 75px;
    }
    .image-nested2{
        position: relative;
        left: -20px;
    }
    .image-nested1 img{
        object-fit: contain;
        width: 75px;
        left: -5px;
    }
    .nextdiv-image img{
        width: 110px;
    }
    .nextdiv-image1 img{
        width: 120px;
        object-fit: cover;
        height: 200px;
    }
    .image-select{
        overflow: hidden;
    }
    .image-nesteda{
        left: 70px;
    }
    .image-nestedb{
        left: 70px;
    }
    .image-nesteda img{
        object-fit: contain;
        left: -18px;
        height: 60px;
    }
    .image-nestedb img{
        object-fit: contain;
        left: -25px;
        height: 60px;
    }
    .imagea img{
        width: 70px;
        left: 10px;
    }
    .imageb img{
        width: 70px;
        left: -5px;
    }
    .image-nested4{
        left: 38px;
    }
    .image-nested4 img{
        width: 100px;
    }
    .imagenested5p{
        left: 25px;
        justify-content:unset;
        gap: 8px;
    }
    .image-nested5 p{
        bottom: 0;
        left: 0;
    }
    .image-nested5 img{
        width: 50px;
        height: 60px;
        object-fit: cover;
    }
    .image-nested3 img{
        width: 150px;
        height: 250px;
        left: 35px;
    }
    .image-select{
        height: 350px;
    }
}
@media(max-width:350px){    
    .image-select-container{
        grid-template-columns: repeat(2,130px) ;
        grid-template-rows: repeat(3,400px);
        gap: 1rem;
        row-gap: 0rem;
    }
    #newdiv{
        grid-template-columns: repeat(2,130px) ;
        gap: 1rem;
        row-gap: 0rem;

    }
    .nextdiv-container{
        display:grid;
        grid-template-columns: repeat(2,130px) ;
        grid-template-rows: repeat(2,400px);
        gap: 0;
        column-gap: 1.5rem;
    }
    .nextdiv{
        width: 130px;
        height: 330px;
    }
    .image-nested2 img{
        object-fit: contain;
        left: -5px;
        width: 75px;
    }
    .image-nested2{
        position: relative;
        left: -20px;
    }
    .image-nested1 img{
        object-fit: contain;
        width: 75px;
        left: -5px;
    }
    .nextdiv-image img{
        width: 100px;
    }
    .nextdiv-image1 img{
        width: 110px;
        object-fit: cover;
        height: 200px;
    }
    .image-nested3 img{
        width: 100px;
        height: 210px;
        left: 60px;
    }
}