@media(max-width:2560px){
    .hero-images img{
        height: 600px;
        width: 1440px;
    }
    /*********************************** best seller in books ****************************/
    
    .books-container{
        margin: 0 auto;
        max-width: 1280px;
        height: 281.5px;
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .books-heading{
        padding: 0 10px;
    }
    .bbtncontainer{
        position: absolute;
        width: 98%;
        display: flex;
        justify-content: space-between;
        left: 20px;
        right: 0;
        top: 100px;
    }
    .bbtncontainer button{
      padding: 20px 10px; 
      z-index: 1;
      background-color: white;
      cursor: pointer;
      font-size: 20px;
    
    }
    /******************************** movies ***************************************/
    
    .movies-container{
        padding-right: 20px;
        padding-left: 20px;
        max-width: 1280px;
        margin: 0 auto;   
    }
    .movies-pictures-container{
        padding-left: 20px;   
    }
    /*************************** games *************************/
    
    .games-container{
        max-width: 1280px;
        padding-right: 20px;
        padding-left: 20px;
    }
    /* *********************************    new******************** */
    
    .nextdiv-container{
        display: flex;
        justify-content:center;
        position: relative;
        left: -20px;
        max-width: 1350px; 
    }
    .nextdiv-image1 img{
        width: 250px;
        height: 280px;
    }
    /****************************baby   gifts*****************************/
    
    .baby-gifts-container{
        max-width: 1280px;
        padding-left: 20px;
        padding-right: 20px;
    }
    /*********************************deals ***************************/
    
    
    
    .deals-cotainer{
        height: 366px;
        width: 1320px;
    }

    #id{
        margin-top: 7px;
        margin-bottom: 5px;
    }
    /*********************************** new1******************** */
    
    .nextdiv-container1{
        max-width: 1320px;
    }
    
    /*********************************** book1*********************************** */
    
    .books-container1{
        max-width: 1280px;
         padding-left: 20px;
        padding-right: 20px; 
    }
    
    /********************************popular****************************/
    
    .popular-container{
        padding-right: 20px;
        padding-left: 20px;
    }
    
}


@media(max-width:1440px){    
    .under-accounts{
        top: 6.5%;
    }

/*********************************** best seller in books ****************************/

.books-container{
    margin: 0 auto;
    max-width: 1250px;
    height: 281.5px;
    padding-right: 20px;
    padding-left: 20px;
}
.bbtncontainer{
    position: absolute;
    width: 98%;
    display: flex;
    justify-content: space-between;
    left: 20px;
    right: 0;
    top: 100px;
}
.bbtncontainer button{
  padding: 20px 10px; 
  z-index: 1;
  background-color: white;
  cursor: pointer;
  font-size: 20px;

}
/******************************** movies ***************************************/

.movies-container{
    padding-right: 20px;
    padding-left: 20px;
    max-width: 1250px;
    margin: 0 auto;
}
/*************************** games *************************/

.games-container{
    max-width: 1250px;
    padding-right: 20px;
    padding-left: 20px;
}
/* *********************************    new******************** */

.nextdiv-container{
    left: -20px;
    max-width: 1350px; 
}
.nextdiv{
    width: 312px;
}
.nextdiv-image img{
    height: 230px;
}
.nextdiv-image1 img{
    width: 250px;
    height: 280px;
}
/****************************baby   gifts*****************************/

.baby-gifts-container{
    max-width: 1250px;
    padding-left: 20px;
    padding-right: 20px;
}
/*********************************deals ***************************/



.deals-cotainer{
    height: 366px;
    width: 1300px;
}  
/*********************************** new1******************** */

.nextdiv-container1{
    max-width: 1320px;
}

/*********************************** book1*********************************** */

.books-container1{
    max-width: 1250px;
     padding-left: 20px;
    padding-right: 20px; 
}

/********************************popular****************************/

.popular-container{
    max-width: 1250px;
    padding-right: 20px;
    padding-left: 20px;
}
/* *********************************sign********************* */

/* *****************************footer************************* */

/* ***************************bottom*********************** */


}
@media(max-width:1340px){
    .under-accounts{
        top: 6.5%;
        z-index: 1;
    }
 
    /*********************************** best seller in books ****************************/
    
    .books-container{
        max-width: 1200px;
    }
    /******************************** movies ***************************************/
    
    .movies-container{
        max-width: 1200px;   
    }
    /*************************** games *************************/
    
    .games-container{
        max-width: 1200px;
        padding-right: 20px;
    }
    /* *********************************    new******************** */
    
    .nextdiv-container{
        max-width: 1300px;   
    }

    .nextdiv-image img{
        height: 230px;
        width: 250px;
    }
    .nextdiv-image1 img{
        width: 250px;
        height: 280px;
    }
    /****************************baby   gifts*****************************/
    
    .baby-gifts-container{
        max-width: 1200px;
    }
   
    /*********************************deals ***************************/
    
    
    
    .deals-cotainer{
        height: 366px;
        width: 1245px;
    }
   
    /*********************************** new1******************** */
    
    .nextdiv-container1{
        display: flex;
        max-width: 1280px;
        justify-content: space-evenly;
        position: relative;
        top: 140px;
        left: -22px;
        flex-wrap: wrap;
    }
    /*********************************** book1*********************************** */
    
    .books-container1{
        max-width: 1200px;
    }
    
    /********************************popular****************************/
    
    .popular-container{
        max-width: 1200px;
        padding-right: 20px;
    }  

}
@media(max-width:1280px){
    .hero-images img{
        height: 600px;
        width: 1440px;
    }
  
    .image-nested-image{
        display: flex;
        width: 300px;
        height: 370px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    /*********************************** best seller in books ****************************/
    
    .books-container{
        max-width: 1100px;
    }
    /******************************** movies ***************************************/
    
    .movies-container{
        max-width: 1100px;   
    }
    /*************************** games *************************/
    
    .games-container{
        max-width: 1100px;
        padding-right: 20px;
    }
    /* *********************************    new******************** */
    
    .nextdiv-container{
        left: -20px;
        max-width: 1300px;
    }
    .nextdiv-image img{
        height: 200px;
        width: 230px;
    }
    .nextdiv-image1 img{
        width: 240px;
        height: 270px;
    }
    /****************************baby   gifts*****************************/
    
    .baby-gifts-container{
        max-width: 1100px;
    }
   
    /*********************************deals ***************************/
    
    
    
    .deals-cotainer{
        height: 366px;
        width: 1145px;
    }
   
    /*********************************** new1******************** */
    
    .nextdiv-container1{
        max-width: 1280px;
        flex-wrap: wrap;
    }
    .image-nested1 img {
        width:110px ;
        height: 110px;
    }
    .image-nested2 img {
        width:110px ;
        height: 110px;
    }
    #outdoor{
        position: relative;
        left: 15px;
    }
    /*********************************** book1*********************************** */
    
    .books-container1{
        max-width: 1100px;
    }
    
    /********************************popular****************************/
    
    .popular-container{
        max-width: 1100px;
        padding-right: 20px;
    }  
}
@media(max-width:1180px){
    .hero-images img{
        height: 600px;
        width: 1440px;
    }
    .image-nested-image{
        width: 250px;
        height: 350px;
        justify-content: flex-start;
    } 
    
    /*********************************** best seller in books ****************************/
    
    .books-container{
        max-width: 1000px;
    }
    /******************************** movies ***************************************/
    
    .movies-container{
        max-width: 1000px;   
    }
    /*************************** games *************************/
    
    .games-container{
        max-width: 1000px;
        padding-right: 20px;
    }
    /* *********************************    new******************** */
    
    .nextdiv-container{
        display: flex;
        justify-content:center;
        position: relative;
        left: -20px;
        max-width: 1300px;
        top: 80px;
        gap: .8rem;
        flex-wrap: wrap;
       
    }
    .nextdiv{
        width: 250px;
        height: 380px;
    }
    .nextdiv-image img{
        height: 200px;
        width: 200px;
    }
    .nextdiv-image1 img{
        width: 210px;
        height: 270px;
    }
    .image-nested1 img {
        width:105px ;
        height: 105px;
    }
    .image-nested2 img {
        width:105px ;
        height: 105px;
    }
    #outdoor{
        position: relative;
        left: 12px;
    }
    /****************************baby   gifts*****************************/
    
    .baby-gifts-container{
        max-width: 1000px;
    }
   
    /*********************************deals ***************************/
    
    
    
    .deals-cotainer{
        height: 366px;
        width: 1045px;
    }
    .deals-image img{
        width: 160px;
        height: 190px;
    }
    #first{
        padding: 3px 5px;
    }
    #fourth{
        font-size: 17px;
    }
    #sixth{
        font-size: 12px;
    }
    /*********************************** new1******************** */
    
    .nextdiv-container1{
        display: flex;
        max-width: 1280px;
        justify-content: space-evenly;
        position: relative;
        top: 140px;
        left: -22px;
        flex-wrap: wrap;
    }
    /*********************************** book1*********************************** */
    
    .books-container1{
        max-width: 1000px;
        height: 281.5px;
        /* left: 18px; */
        overflow: auto;
    }
    
    /********************************popular****************************/
    
    .popular-container{
        position: relative;
        bottom: 120px;
        background-color: white;
        max-width: 1000px;
        padding-right: 20px;
        height: 281.5px;
        /* left: 19px; */
        overflow: auto;
    }
}

@media(max-width:1060px){
    .hero-images img{
        height: 600px;
        width: 1440px;
    }
    .space{
        position: relative;
        /* top: -60px; */
    }
    
    .image-nested1 p{
        font-size: 12px;
        padding-left: 20px;
    
    }
    .image-nested1 img{
       position: relative;
         width: 130px;
         height: 115px;
         left: 10px;
          object-fit:none;  
         
          
    }
    .image-nested2 p{
        font-size: 12px;
        position: relative;
        left: 29px;
        
    
    }
    .image-nested2 img{
       position: relative;
         width: 120px;
         height: 115px;
         left: 30px; 
          object-fit:none;  
         
    }
    .image-nested3 img{
        width: 249px;
        height: 300px;
        position: relative;
        left: 25px;
        object-fit: none;
    }
    .chappal img{
        object-fit: cover;
        width: 280px;
        height: 152px;
        position: relative;
        left: 10px;
        top: 38px;
        margin-bottom: 38px;
    }
    .chappal p{
        padding: 4px;
        background-color: #CC0C39;
        display: inline-block;
        color: white;
        font-size: 12px;
        border-radius: 2px;
    }
    .chappal span{
        font-size: 12px;
        color: #CC0C39;
        font-weight: bolder;
    }
    .chappal div{
        font-size: 13px;
    }
    #move{
        position: relative;
        left: 11px;
        top: 40px;
    }
    .image-nested4 img{
        width: 255px;
        height: 172px;
        object-fit: none;
        position: relative;
        left: 20px;
    }
    .image-nested4 p{
        position: relative;
        bottom: 8px;
        left: 19px;
    }
    .image-nested5 p{
        position: relative;
        bottom: 16px;
        left: 4px;
    }
    .image-nested5 img{
        width: 82px;
        height: 75px;
        object-fit: none;
        position: relative;
       left: -2px;
       
       top: -35px;
        
    }
    #move1{
        left: 5px;
    }
    #move2{
        left: -10px;
    }
    .imagenested5p{
        display: flex;
        justify-content: space-evenly;
        width: 300px;
    }
     .image-nested5 img{
       position: relative;
       top: -14px;
    } 
    
    
    .image-nested-image{
        display: flex;
        
        width: 250px;
        height: 350px;
        flex-wrap: wrap;
        justify-content: flex-start;
    } 
    .image-select{
        padding-top: 20px;
        background-color: white;
        width: 310px;
        margin-top: 10px;
        height: 400px;
        
    }
    .image-select h2{
        padding-bottom: 20px;
        padding-left: 20px;
        font-size: 18px;
    
    }
    #see-more{
        font-size: 13px;
        color: #007185;
        position:relative;
         left: 17px; 
        top: 9px;
    } 
    #see-more1{
        font-size: 13px;
        color: #007185;
        position:relative;
         left: 17px; 
        top: 15px;
    } 
    #see-more2{
        font-size: 13px;
        color: #007185;
        position:relative;
         left: 17px; 
        top: 2px;
    } 
    #see-more3{
            font-size: 13px;
            color: #007185;
            position:relative;
             left: 17px; 
            top: 35px;
        
    }
    #see-more4{
        font-size: 13px;
        color: #007185;
        position:relative;
         left: 17px; 
        top: 55px;
    
    }
    
    .under-whole-content-container{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    /*********************************** best seller in books ****************************/
    
    .books-container{
        max-width: 950px;
    }
    /******************************** movies ***************************************/
    
    .movies-container{
        max-width: 950px;   
    }
    /*************************** games *************************/
    
    .games-container{
        max-width: 950px;
        padding-right: 20px;
    }
    /* *********************************    new******************** */
    
    .nextdiv-container{
        display: flex;
        justify-content:center;
        position: relative;
        left: -20px;
        max-width: 1300px;
        top: 80px;
        gap: .8rem;
        flex-wrap: wrap;
       
    }
    .nextdiv{
        background-color: white;
        width: 238px;
        height: 360px;
        position: relative;
        top: -300px;
        left: 20px;
    }
    .nextdiv h2{
        position: relative;
        top: 20px;
        left: 20px;
        font-size: 18px;
    }
    .nextdiv1{
        position: relative;
        top: 30px;
    }
    .nextdiv-image img{
        height: 200px;
        width: 200px;
        position: relative;
        left: 20px;
        top:38px ;
        object-fit: cover;
    }
    .nextdiv-image1 img{
        position:relative ;
        top: 35px;
        width: 200px;
        height: 250px;
        object-fit: none;
        left: 20px;
    }
    .image-nested1 img {
        width:101px ;
        height: 101px;
    }
    .image-nested2 img {
        width:101px ;
        height: 101px;
    }
    #outdoor{
        position: relative;
        left: 1px;
    }
    #wall{
        position: relative;
        left: 19px;
    }
    /****************************baby   gifts*****************************/
    
    .baby-gifts-container{
        max-width: 950px;
    }
   
    /*********************************deals ***************************/
    
    
    
    .deals-cotainer{
        height: 366px;
        width: 990px;
    }
    .deals-image img{
        width: 150px;
        height: 180px;
    }
    #first{
        padding: 3px 5px;
        font-size: 11px;
    }
    #sec{
        font-size:11px
    }
    #fourth{
        font-size: 15px;
    }
    #fifth{
        font-size:11px
    }
    #sixth{
        font-size: 11px;
    }
   
    /*********************************** new1******************** */
    
    .nextdiv-container1{
        display: flex;
        max-width: 1280px;
        justify-content: space-evenly;
        position: relative;
        top: 140px;
        left: -22px;
        flex-wrap: wrap;
    }
    /*********************************** book1*********************************** */
    
    .books-container1{
        max-width: 950px;
        height: 281.5px;
        /* left: 18px; */
        overflow: auto;
    }
    
    /********************************popular****************************/
    
    .popular-container{
        position: relative;
        bottom: 120px;
        background-color: white;
        max-width: 950px;
        padding-right: 20px;
        height: 281.5px;
        /* left: 19px; */
        overflow: auto;
    }  
    #table-data{
        padding-left: 9px;
        padding-right: 9px;
        width: 100px;
    }
}


@media(max-width:1024px){
    .under-accounts{
        top: 7.8%;
    }
    .hero-images img{
        height: 600px;
        width: 1440px;
    }
    
    
    .image-nested-image{
        display: flex;
        width: 230px;
        height: 350px;
        flex-wrap: wrap;
        justify-content: flex-start;
    } 
    
    /*********************************** best seller in books ****************************/
    
    .books-container{
        max-width: 900px;
        padding-right: 20px;
    }
    .bbtncontainer button{
      padding: 20px 10px; 
      z-index: 1;
      background-color: white;
      cursor: pointer;
      font-size: 20px;
    
    }
    /******************************** movies ***************************************/
    
    .movies-container{
        padding-right: 20px;
        max-width: 900px;
        margin: 0 auto;     
    }
    .movies-pictures-container{
        padding-left: 20px;  
    }
    /*************************** games *************************/
    
    .games-container{
        max-width: 900px;
        padding-right: 20px;
    }
    /* *********************************    new******************** */
    
    .nextdiv-container{
        left: -20px;
        max-width: 1300px; 
    }
    .nextdiv{
        width: 225px;
        height: 400px;
    }
    .nextdiv-image img{
        height: 230px;
        width: 190px;
    }
    .nextdiv-image1 img{
        width: 190px;
        height: 250px;
    }
    .image-nested1 img {
        width:90px ;
        height: 90px;
    }
    .image-nested2 img {
        width:90px ;
        height: 90px;
    }
    #outdoor{
        position: relative;
        left: 1px;
    }
    #wall{
        position: relative;
        left: 19px;
    }
    /****************************baby   gifts*****************************/
    
    .baby-gifts-container{
        max-width: 900px;
    }
    /*********************************deals ***************************/
    
    
    
    .deals-cotainer{
        height: 366px;
        width: 940px;
    }
    .deals-cotainer h2{
        font-size: 20px;
    }
    
    .deals-image img{
        width: 150px;
        height: 180px;
    }
    #first{
        padding: 3px 5px;
        font-size: 10px;
    }
    #sec{
        font-size:10px
    }
    #fourth{
        font-size: 14px;
    }
    #fifth{
        font-size:10px
    }
    #sixth{
        font-size: 11px;
    }
    /*********************************** new1******************** */
    
    .nextdiv-container1{
        display: flex;
        max-width: 1280px;
        justify-content: space-evenly;
        position: relative;
        top: 140px;
        left: -22px;
        flex-wrap: wrap;
    }
    
    /*********************************** book1*********************************** */
    
    .books-container1{
        max-width: 900px;
    }
    
    /********************************popular****************************/
    
    .popular-container{
        max-width: 900px;
        padding-right: 20px;
    }  
     

}
@media(max-width:768px){    
    #first{
        padding: 2px 4px;
        font-size: 9px;
    }
    #sec{
        font-size:9px
    }
    #fourth{
        font-size: 12px;
    }
    #fifth{
        font-size:8px
    }
    #sixth{
        font-size: 9px;
    } 
}
@media(max-width:425px){    
    .under-accounts{
        top: 4.5%;
        background-color: #007185;
    }
}
@media(max-width:375px){    

}
@media(max-width:320px){    
    
}
@media(max-width:280px){    

}